@media (max-width:1440px) {

  .container {
    max-width: 1320px;
  }

  .container-short {
    max-width: 1080px;
  }

}

@media (max-width: 1024px) {

  .container {
    max-width: 904px;
  }

  .container-short {
    max-width: 904px;
  }

  .services__hero__section {
    .container {
      padding-top: 117px;
    }

    .services__hero__section__info {
      .services__hero__section__info__cards {
        gap: 50px;
      }
    }
  }
}

@media (max-width: 992px) {
  .services__hero__section {
    .container {
      padding-top: 129px;
    }

    .services__hero__section__info {
      .services__hero__section__info__cards {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }


  .partner__section {
    .container-wide {
      .partner__section__partners {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 120px);
        max-height: 720px;
        overflow-y: auto;
      }
    }
  }
}






@media (max-width: 850px) {
  .header {


    .header-right {
      display: flex;
      flex-direction: column;



      .header-right__top {
        margin-bottom: 30px;
        align-items: center;


      }
    }

    .header-right__links {
      justify-content: start;
    }
  }

  .header-left_wrap {

    .header-left {
      position: static;
      display: flex;
      gap: 5px;
      margin-bottom: 30px;

    }
  }

  .header-right__top__languages {
    justify-content: start;
  }

  .form__section {
    flex-direction: column;

    .form__section__left {
      max-width: 100%;
    }

    .form__section__right {
      max-width: 100%;
      display: flex;

      .form__section__right__form {
        max-width: 100%;
        width: 100%;
        margin-inline: auto;
      }
    }
  }

  .footer {
    .footer__wrap {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }


}

@media (max-width: 768px) {
  .services__hero__section {


    .container {
      padding-top: 250px;
    }

    .services__hero__section__info {
      .services__hero__section__info__cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
      }
    }
  }
}

@media (max-width: 680px) {
  .partner__section {
    .container-wide {
      .partner__section__partners {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 120px);
        max-height: 720px;
        overflow-y: auto;
      }
    }
  }
}

@media (max-width: 576px) {
  .services__hero__section {
    min-height: 160vh;

    .container {
      padding-top: 120px;
    }

    .services__hero__section__info {
      .services__hero__section__info__cards {
        gap: 45px;

        .services__hero__section__info__cards__card {
          max-height: none;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .header {
    padding: 0;

    .header-right__top {
      margin-bottom: 15px;
      width: 100vw;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      padding: 13px 15px;
      background-color: rgba(245, 245, 250, 0.2);
      justify-content: space-between;
    }

    .header-right__top>*:not(.header-right__top__languages, .header-right__top__number) {
      display: none;


    }

    .header-right__links {
      transform: translateX(100%);
      transition: all 0.5s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      background-color: #e3e3ff;
      margin: 0;
      z-index: 1;
      align-items: center;
      justify-content: center;
      gap: 60px;


      .header-right__links__item {
        font-size: 32PX;
        
      }
    }

    .header-left__burger__div__svg {
      display: flex;
    }
  }



  .footer__left__top {
    flex-direction: column;
  }

  .footer {
    padding-inline: 40px;
  }

  .header-right__top {
    margin-bottom: 15px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 0;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 13px 15px;
    background-color: #F5F5FA;
  }

  .header .header-right__links .close-icon {
    display: grid;
  }
}

@media (max-width: 552px) {
  .partner__section {
    .container-wide {
      .partner__section__partners {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 120px);
        max-height: 720px;
        overflow-y: auto;
      }
    }
  }
}

@media (max-width: 480px) {
  .services__hero__section {
    min-height: 200vh;

    .services__hero__section__info {
      .services__hero__section__info__cards {
        grid-template-columns: 1fr !important;
        gap: 50px;

        .services__hero__section__info__cards__card {
          max-height: none;
          margin-bottom: 30px;
        }
      }
    }
  }

  .footer .qwe {
    display: none;
  }

  .footer__wrap__left__top {
    flex-direction: column;
  }

  .footer__wrap__left__bottom {
    flex-direction: column;

  }
}