@use "./variables.scss" as *;
@use "./mixins.scss" as mixin;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: auto !important;

  margin: 0;

  overflow-x: hidden;
}

section {
  scroll-margin-top: 100px;
}

body {

  position: relative;
  overflow-x: hidden;
  margin: 0;
}

main {
  flex: 1;
}

a {
  @include mixin.link;
  transition: all 0.3s linear;
}

p {
  @include mixin.p;
  color: #FFFFFF;
}

h1 {
  @include mixin.h1;
  margin: 0;
  padding: 0;
}

h2 {
  @include mixin.h2;
  margin: 0;
  padding: 0;
}

h3 {
  @include mixin.h3;
  margin: 0;
  padding: 0;
}

h4 {
  @include mixin.h4;
  margin: 0;
  padding: 0;
}

ol {
  @include mixin.ol;
}

ul {
  @include mixin.ul;
}

.container-wide {
  max-width: $container-wide-width;
  margin: 0 auto;
  width: 100%;
  padding-top: 50px;
  padding-inline: 60px;

  @media (max-width: 1720px) {
    padding-inline: 0;
  }
}

.container.short {
  max-width: $container-short-width;
  margin: 0 auto;
  width: 100%;

}

.container {

  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  padding-inline: 20px;
}

.-header {
  padding-top: 50px;
}


.container.wide {
  max-width: calc($container-width + $basic-space * 2);
  padding-top: 50px;
  padding-inline: 20px;


}


.logo-wrap {
  display: flex;
}

.main-gradient {
  max-height: 100%;
  height: fit-content;
  position: relative;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  color: #ffffff;
  border-radius: 0 0 12px 12px;
}



.main-gradient::before {
  top: calc(100% - 10px);
  z-index: -1;
  background-color: #cacadb;
}

.main-gradient::after {
  --left-position: 40px;

  top: 100%;
  z-index: -2;
  background-color: #e7e7f2;
}

.ghost {
  height: 116px;
}

.services__hero__section {


  min-height: 100vh;

  .container {
    min-height: 100vh;
    padding-top: 116px;


  }


  &::after {
    display: inline-block;
    content: '';
    width: 98%;
    height: 10px;
    position: absolute;
    bottom: -10px;
    left: 1%;
    background-color: #CACADB;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

  }

  &::before {
    display: inline-block;
    content: '';
    width: 96%;
    height: 10px;
    position: absolute;
    bottom: -20px;
    left: 2%;
    background-color: #E7E7F2;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  &__info {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;

    display: grid;


    &__title {
      // margin-bottom: 3rem;
      align-self: self-start;
      margin-bottom: 60px;
      padding-top: 2rem;
    }

    &__cards {

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 60px;
      padding-bottom: 2rem;
      padding-inline: 1rem;

      @media (max-width:992px) {
        grid-template-columns: repeat(2, 1fr);
      }


      @media (max-width:480px) {
        grid-template-columns: repeat(1, 1fr);
      }

      @media (max-width:1150px) {
        padding-bottom: 3rem;
      }

      &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-items: start;
        text-align: left;

        transition: all 0.3s linear;

        &:hover {
          transform: scale(1.05);
        }

        &:hover .services__hero__section__info__cards__card__title {
          color: $accent-color;
        }


        &__img {
          width: 92px;
          height: 92px;
          background-color: #fff;
          padding: 15px;
          border-radius: 24px;
          margin-bottom: 2rem;
        }

        &__title {
          font-family: $ff;
          font-weight: 700;
          font-size: 22px;
          margin-bottom: 0.95rem;
          color: $active-regular-color;
          transition: all 0.3s linear;
        }

        &__description {
          font-family: $ff;
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
}



.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: grid;
  margin: 0 auto;

  .container {
    display: grid;
    grid-template-areas:
      'logo contact contact'
      'logo mid mid';





    @media (max-width:560px) {
      display: block;

    }
  }

  .header-left {
    position: absolute;
    justify-content: space-between;

    @media (max-width:560px) {
      margin-top: 15px;
      justify-content: space-between;

      .header-left__burger__div {
        position: absolute;
        top: 73px;
        right: 28px;

      }
    }

    &__slash img {
      margin-bottom: 13px;
    }

    &__burger__div {

      &__svg {
        display: none;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .header-left {
    position: static;
    display: flex;
    gap: 5px;



    .logo-wrap {
      display: flex;


      @media (max-width: 560px) {
        align-items: start;
        grid-area: logo;
      }
    }

    &__logo {
      max-width: 130px;
      max-height: 60px;
    }
  }

  &-left_wrap {
    grid-area: logo;

    .header-left__page-name {
      @include mixin.page-name;
      color: white;
    }
  }



  .header-right {
    max-height: max-content;

    .circle {
      @include mixin.circle
    }

    justify-self: end;
    grid-area: contact;
    flex-direction: row;
    gap: 6px;

    &__links {
      grid-area: mid;
      justify-self: end;
      display: grid;
      grid-auto-flow: column;
      gap: 15px;
      margin-top: 16px;

      @media (max-width:560px) {
        display: flex;

      }

      .close-icon {
        position: absolute;
        display: none;
        top: 80px;
        right: 50px;
        width: 20px;
        height: 20px;

        &:hover {
          cursor: pointer;
        }
      }

      &__item {
        font-weight: 700;
        font-style: bold;
        transition: all 0.3s linear;
        color: white;

        @media (max-width:560px) {
          color: #24A3FF;
        }

        &:hover {
          color: $accent-color;
        }

        &-active {
          font-weight: 700;
          font-style: bold;
          color: $accent-color;

          &::after {
            display: flex;
            content: '';
            width: 100%;
            height: 2px;
            background-color: $accent-color;
            margin-top: 5px;
          }
        }
      }
    }

    &__top {
      display: flex;
      align-items: center;

      @media (max-width: 560px) {
        position: absolute;
        top: 0;

      }

      &__languages {
        gap: 5px;
        display: flex;

        &__radio {

          input {
            display: none;
          }

          input:checked+.header-right__top__languages__radio__item {
            background-color: #F0145A;
            color: white;
            border-radius: 8px;
          }

          &__item {
            margin-top: .5rem;
            @include mixin.header-right-top;
            padding: 5px 7px;
            font-size: 13px;
            color: #FFFFFF;

            &:not(.header-right__top__languages__radio__item-active):hover {
              cursor: pointer;
              background-color: #e3e3e3;
              border-radius: 8px;
            }
          }
        }
      }

      &__address {
        &__link {
          @include mixin.header-right-top;
          font-weight: 400;

          &:hover {
            color: $active-hover-color;
          }
        }
      }

      &__number {
        &__link {
          @include mixin.header-right-top;
          color: #FFFFFF;

          &:hover {
            color: $active-hover-color;
          }
        }
      }

      &__facebook {
        &__link {

          svg path {
            fill: #FFFFFF;
            transition: all 0.2s linear;
          }

          &:hover svg path {
            fill: $accent-color;
          }

        }
      }
    }





  }

}

.partner__section {

  margin: auto;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__title {
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    @include mixin.h3;

    font-size: 14px;


  }

  &__partners {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 120px);
    grid-auto-rows: 1fr;
    margin-bottom: 60px;




    &__card {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__card1 {
      border-top-left-radius: 12px;

      @media (max-width:1720px) {
        border-top-left-radius: 0px;
      }
    }

    &__card4 {
      border-top-right-radius: 12px;

      @media (max-width:1720px) {
        border-top-right-radius: 0px;
      }
    }

    &__card9 {
      border-bottom-left-radius: 12px;

      @media (max-width:1720px) {
        border-bottom-left-radius: 0px;
      }
    }

    &__card12 {
      border-bottom-right-radius: 12px;

      @media (max-width:1720px) {
        border-bottom-right-radius: 0px;
      }
    }

  }
}

footer {
  min-width: 100%;

  .container {
    padding: 0;

  }
}

.home-footer {
  min-width: 100%;

  .container {
    padding: 0;
    padding-inline: 20px;
  }
}

.footer {
  background-color: $bg-gray-color;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-inline: 80px;
  font-family: $ff;
  min-width: 100%;
  display: flex;
  justify-content: space-between;



  &__wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__left {
      display: flex;
      flex-direction: column;
      gap: 20px;


      &__top {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        &__address {
          color: $main-color;
          font-weight: 400;
          font-size: 16px;

          &__link {
            font-weight: 700;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 1px;
            text-transform: uppercase;
          }

        }

      }

      &__bottom {

        display: flex;
        align-items: center;
        gap: 10px;

        &__number {
          font-weight: 700;
          font-style: Bold;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: right;
          color: #000000;
        }

        &__email {
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
        }

        &__facebook {
          &__link {
            svg {
              height: 38px;
              width: 38px;

              path {
                transition: all 0.2s linear;
              }
            }

            &:hover svg {
              path {
                fill: $accent-color;
              }
            }

          }
        }
      }


    }
  }

  &__right {
    &__sign {
      font-weight: 400;
      font-size: 16px;
      text-align: right;
      color: $text-gray-color
    }
  }

  .qwe {
    @include mixin.circle;
    background-color: $text-gray-color;
    display: inline-block;
    margin-inline: 0px;
  }

}

@media (max-width:960px) {
  .main-gradient {
    .services__hero__section {
      .container {
        padding-top: 250px;

        @media (max-width:560px) {
          padding-top: 150px;
        }

        @media (max-width:480px) {
          padding-top: 120px;
        }
      }
    }
  }

  .header {
    .container {
      grid-template-areas:
        'contact'
        'logo'
        'mid';
      grid-template-rows: 1FR auto 1FR;
      position: relative;
    }

    .header-left {
      margin-top: 10px;
      margin-bottom: 30px;
    }

    .header-right__top {
      justify-self: start;
      display: flex;
      position: absolute;
      left: 20px;
      justify-content: start;
    }

    .header-right__links {
      justify-self: start;
      display: flex;
    }

  }
}

// ---------------------Service-entry----------------------

.header__service__entry {
  .logo-wrap {
    @media (max-width: 560px) {}
  }

  .header-left_wrap .header-left__page-name {
    @media (max-width: 560px) {
      font-size: 20px;
      font-family: $ff;
    }
  }
}

.services__entry__hero__section {
  margin-bottom: 60px;
  min-height: 100vh;

  @media (max-width:480px) {
    min-height: 100vh;
  }

  &::after {
    display: inline-block;
    content: '';
    width: 98%;
    height: 10px;
    position: absolute;
    bottom: -10px;
    left: 1%;
    background-color: #CACADB;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

  }

  &::before {
    display: inline-block;
    content: '';
    width: 96%;
    height: 10px;
    position: absolute;
    bottom: -20px;
    left: 2%;
    background-color: #E7E7F2;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }

}


.entry__hero_upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 34px;

  &__title {
    @media (max-width: 560px) {
      font-size: 30px;
    }
  }

  &__description {
    font-family: $ff;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    max-width: $container-short-width;
  }
}

.container-entry {
  max-width: $container-short-width;
  margin: 0 auto;
  width: 100%;
  padding-top: 125px;

  @media (max-width: 1440px) {
    padding-inline: 11.25rem;
  }

  @media (max-width: 1150px) {
    padding-inline: 3.75rem;
  }

  @media (max-width: 968px) {
    padding-top: 250px;
  }

  @media (max-width: 560px) {
    padding-top: 120px;
    padding-inline: 30px;
  }
}

.entry__hero_bottom__title {
  font-family: $ff;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  color: white;
  margin-bottom: 30px;


}

.entry__hero_bottom {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;

  &__title {}

  &__wrap_lists {
    display: flex;
    max-width: 100%;
    justify-content: space-between;

    @media (max-width: 560px) {
      flex-direction: column;
    }

    &__list {
      width: 48%;

      @media (max-width: 560px) {
        width: 100%;
      }

      ul {
        padding-left: 20px;
        max-width: 650px;

        li {
          font-family: $ff;
          font-weight: 400;
          font-size: 18px;
          color: white;
          line-height: 26px;
        }

        li:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }

}

.btn {
  width: 100%;
  background-color: #24A3FF;
  font-family: $ff;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5019607843);
  transition: all 0.3s linear;
  max-width: 208px;
  border: none;
  border-radius: 8px;
  min-height: 56px;
  padding-inline: 15px;
  margin-bottom: 60px;
}

.btn:hover {
  background-color: $active-hover-color;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px $active-hover-color;
}

.entry__hero_upper::after {
  display: inline-block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);


}

// ----------------------recommended entry----------------------  

.recommended__section {
  padding-top: 30px;
  padding-bottom: 60px;
  padding-inline: 2rem;

  img {
    width: 100%;
    object-fit: contain;

  }



  background-color: $bg-gray-color;

  .container {


    @media (max-width: 425px) {
      padding-inline: 0;
    }
  }

  &__publication {
    margin-bottom: 1.5rem;
    display: flex;
    gap: 5px;
    font-family: $ff;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;

    align-items: center;

    h3 {
      color: $active-regular-color;
      transition: all 0.3s linear;
    }

    &:hover h3 {
      color: $accent-color;
      cursor: pointer;
    }

    &:hover svg path {
      stroke: $accent-color;
      cursor: pointer;
    }

    &__sign {

      max-width: max-content;
      width: 12px;
      height: 17px;

      path {
        transition: all 0.3s linear;
      }
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__cards {
    @media (max-width: 1024px) {}

    flex-wrap: wrap;
    display: flex;
    align-items: stretch;
    gap: 30px;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: $separator-gray-color;
      top: 100%;
      margin-top: 30px;
      margin-bottom: 30px;

    }

    &__card {
      @media (max-width: 1024px) {
        flex: 1 1 50%;
      }

      flex: 1 0 300px;
      background-color: white;
      transition: all 0.3s linear;

      &:hover {
        transform: scale(1.04);
        cursor: pointer;
      }

      &:hover &__title {
        color: $accent-color;
      }

      &__container {
        padding: 30px;
      }

      &__title {
        margin-bottom: 15px;
        font-size: 1rem;
        color: $active-regular-color;
        transition: all 0.3s linear;
      }

      &__data {
        color: $text-gray-color;
        font-family: $ff;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;

        &::after {
          display: inline-block;
          content: '';
          width: 100%;
          height: 4px;
          background-color: $separator-gray-color;
          margin-top: 5px;
          margin-bottom: 12px;
        }
      }

      &__description {
        font-family: $ff;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.form__popup {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  padding: var(--basic-space);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323264;
  transition: all 0.3s linear;
  opacity: 0;
  transform: translatey(100%);

  .form__section__right__form {
    position: relative;
    width: 650px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    overflow-y: none;
    background-color: $bg-gray-color;
    max-width: 650px;
    padding: 30px;

    @media (max-width:850px) {
      max-width: 100%;
      width: 100%;
      margin-inline: auto;
    }

    input:focus {
      outline-color: $active-regular-color;
    }

    input:user-invalid {
      outline-color: #FF0000;
    }

    &__close {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 20px;
      height: 20px;

      &:hover {
        cursor: pointer;
      }
    }

    &__message {
      border: none;
      border-radius: 8px;
      padding-inline: 15px;
      min-height: 130px;

    }

    textarea {
      padding-top: 20px;
      resize: none;

      &::placeholder {
        font-family: $ff;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: $text-gray-color;
      }
    }

    textarea:focus {
      outline-color: $active-regular-color;
    }

    &__message::placeholder {
      position: absolute;
      top: 15px;
      left: 15px;
    }

    input:not(.form__section__right__form__message) {
      border: none;
      border-radius: 8px;
      min-height: 56px;
      padding-inline: 15px;
    }

    input::placeholder {
      color: $text-gray-color;

    }


    &__title {
      font-family: $ff;
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 30px;
    }

    &__first-group {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 30px;
    }



    &__second-group {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 30px;
    }

    &__second-group-title {
      margin-bottom: 15px;
    }

    &__second-group-title {
      color: $text-gray-color;
      font-family: $ff;
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &__submit {
      width: 100%;
      background-color: $active-regular-color;
      font-family: $ff;
      font-weight: 700;
      font-size: 16px;
      text-align: center;
      color: white;
      box-shadow: 0px 0px 20px 0px #24A3FF80;
      transition: all 0.3s linear;

      &:hover {
        cursor: pointer;
        background-color: $active-hover-color;
      }
    }
  }
}

.popup-active {
  transform: translatey(0%);
  opacity: 1;
  display: flex;
}

@media print {
  header {
    position: fixed;
    top: 0;
  }

  footer {
    position: fixed;
    bottom: 0;
  }
}

// -----------------HOME PAGE-------------------------

.home-gradient {
  background: $supersoft-gradient-color;
  position: relative;

  &::after {
    display: inline-block;
    content: '';
    width: 98%;
    height: 10px;
    position: absolute;
    bottom: -10px;
    left: 1%;
    background-color: #CACADB;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

  }

  &::before {
    display: inline-block;
    content: '';
    width: 96%;
    height: 10px;
    position: absolute;
    bottom: -20px;
    left: 2%;
    background-color: #E7E7F2;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }


  .home__services__hero__section {
    &__info {
      align-items: baseline;

      &__link {
        color: red;
      }

      h3 {
        font-family: $ff;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $active-regular-color;
      }
    }

    .services__hero__section__info__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 60px;
      padding-bottom: 2rem;

      @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr) !important;
      }

      @media (max-width: 480px) {
        max-height: none;
        margin-bottom: 30px;
      }
    }

    &__cards {




      &__card {
        &:hover .services__hero__section__info__cards__card__title {
          text-decoration: none;
        }
      }
    }
  }
}

.home__hero__section {
  background-image: image-set(url('../images/Symbol.webp') 1x type('image/webp'),
      url('../images/Symbol@2x.webp') 2x type('image/webp'),
      url('../images/Symbol.png') 1x type('image/png'),
      url('../images/Symbol@2x.png') 2x type('image/png'));
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  height: 100vh;
  @media (max-width:940px) {
     background-size: 100% 100%;
  }
  &__container {

    min-height: 100vh;
    padding-block: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }


  .home__hero__section__info__title {
    color: white;
    font-size: 38px;
    line-height: 1.21;
  }

  // .home__hero__section__info__scroll {
  //   background: url(../images/Scroll.svg) no-repeat;
  //   width: 32px;
  //   height: 32px;
  // }


}



.tabs-container {
  padding-inline: 20px;
  max-width: $container-short-width;
  margin: 0 auto;
  width: 100%;
}


.tabs {
  // background-color: black;
  padding-block: 60px;


  @media (max-width:1024px) {
    display: flex;
    flex-direction: column;
  }

  nav.flex-column {}

  .flex-column {
    @media (max-width:1024px) {
      flex-direction: row !important;
    }
  }

  .nav {
    @media (max-width:1024px) {
      flex-wrap: nowrap !important;
    }
  }

  .tab-content {
    align-self: center;

  }

  #v-pills-tab {

    width: 100%;
    gap: 30px;
    padding-right: 60px;
    border-right: 4px solid rgba(255, 255, 255, 0.3);

    @media (max-width:1024px) {
      border-right: none;
      padding-bottom: 60px;
      border-bottom: 4px solid rgba(255, 255, 255, 0.3);
      margin-bottom: 60px;
      overflow-x: scroll;
    }

    .nav-link {
      background-color: transparent;
      color: $text-gray-color;
      border: none;

      font-weight: 700;
      font-size: 38px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: right;
      padding: 0;
      white-space: nowrap;


      &:focus {
        outline: none;
      }



      &:hover {
        color: $accent-color;
      }
    }

    .nav-link.active {
      background-image: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
    }


  }

  .tab-pane {
    align-items: center;
    padding-left: 60px;

    @media (max-width:1024px) {
      padding-left: 0px;

    }

    // background-color: black;
  }

  #v-pills-tabContent {
    h2 {
      font-family: $ff;
      font-weight: 700;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: 0%;
      color: white;
    }

    p {
      font-family: $ff;
      font-weight: 400;
      font-size: 19px;
      line-height: 30px;
      letter-spacing: 0%;

    }
  }
}

.home__second {
  margin-top: 80px;

  .container-carousel {
    max-width: 1599px;
    width: 100%;
    margin: 0 auto;
  }

  &__carousel {
    min-width: 0;
    max-height: max-content;
    padding-bottom: 5px;

    &__card {
      // max-width: 1600px;
      width: 100%;
      background-color: #EDEDF7;
      border-radius: 12px;
      margin-right: 10px;

      @media (max-width:850px) {
        border-radius: 0px;
      }

      &__wrap {
        display: flex;

        @media (max-width:850px) {
          flex-direction: column;
        }

        &__text {
          padding: 30px;

          &__link {
            align-items: center;
            height: max-content;
            display: flex;
            flex-direction: row;
            text-align: right;
            gap: 3px;
            margin-bottom: 10px;

            &__title {
              font-family: $ff;
              font-weight: 700;
              font-size: 14px;
              line-height: 100%;
              letter-spacing: 1px;
              text-transform: uppercase;
              display: flex;
            }
          }



          &__describe {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            gap: 6px;

            &__role {
              font-family: $ff;
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
              letter-spacing: 0%;
              color: $text-gray-color;
            }

            &__name {
              font-family: $ff;
              font-weight: 700;
              font-size: 16px;
              line-height: 100%;
              letter-spacing: 0%;

              color: $text-gray-color;
            }
          }
        }
      }

      img {
        max-width: 400px;
        width: 100%;
        height: 300px;

        display: block;
        object-fit: cover;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;

        @media (max-width:1024px) {
          height: auto;
        }

        @media (max-width:850px) {
          max-width: 100%;
          max-height: 500px;
          border-top-left-radius: 12px;
          border-bottom-left-radius: 0px;
          border-top-right-radius: 12px;
        }


        @media (max-width:450px) {
          max-height: 315px;
        }

      }
    }

    .slick-dotted.slick-slider {
      margin-bottom: 0px;
      // width:1565px;
    }

    .slick-dots {
      position: static;
      display: flex !important;
      justify-content: center;
      margin-top: 20px;
    }


  }

  .partner__section__home {
    margin-bottom: 60px;
    margin-top: 85px;
    max-width: 1700px;
    width: 100%;

    .partner__section__home__container {
      max-width: 1700px;
    }

    .partner__section__partners {
      width: 100%;
    }

    .container {
      .partner__section__title {
        margin-top: 0;
      }
    }

    h3 {}
  }

  .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    align-items: center;
  }

  .slick-dots li button:before {
    background-color: $active-regular-color;
    height: 10px;
    width: 10px;
    text-indent: -9999px;
    border-radius: 50%;

    align-items: center;
    padding: 0;
  }

  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }

  // .slick-initialized .slick-slide {
  //   max-width: 1600px;
  //   // width: 1600px !important;
  // }



  .slick-track {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .slick-list {}

  .slick-dots {
    overflow: visible;
  }
}

@media (max-width: 560px) {
  .header-right__top.header-right__top__home {
    left: 50%;
    justify-content: space-between;
    max-height: 45px;
  }
}


@media (max-width: 560px) {
  .header {
    padding: 0;

    .header-left {
      margin-top: 10px;
    }

    .header-right__top {
      padding-inline: 20px;

    }

    .header-right__top>*:not(.header-right__top__languages, .header-right__top__number) {
      display: none;


    }

    .header-right__links {
      transform: translateX(100%);
      transition: all 0.5s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      background-color: #e3e3ff;
      margin: 0;
      z-index: 1;
      align-items: center;
      justify-content: center;
      gap: 60px;


      .header-right__links__item {
        font-size: 32PX;

      }
    }

    .header-left__burger__div__svg {
      display: flex;
    }
  }



  .footer__left__top {
    flex-direction: column;
  }

  .footer {
    padding-inline: 40px;
  }

  .header-right__top {
    margin-bottom: 15px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 0;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 13px 15px;
    background-color: #F5F5FA;
  }

  .header .header-right__links .close-icon {
    display: grid;
  }
}