@use "./variables.scss" as *;
@use "./mixins.scss" as mixin;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html,
// body {
//   margin: 0;
//   height: 100%;
//   overflow-x: hidden;
// }

body {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  @include mixin.link;
  transition: all 0.3s linear;
}

p {
  @include mixin.p;
}

h1 {
  @include mixin.h1;
  margin: 0;
  padding: 0;
}

h2 {
  @include mixin.h2;
  margin: 0;
  padding: 0;
}

h3 {
  @include mixin.h3;
  margin: 0;
  padding: 0;
}

h4 {
  @include mixin.h4;
  margin: 0;
  padding: 0;
}

ol {
  @include mixin.ol;
}

ul {
  @include mixin.ul;
}

.container-short {
  max-width: $container-short-width;
  margin: 0 auto;
  width: 100%;

  @media (max-width:1440px) {}

  @media (max-width:1024px) {}
}



.container {
  padding-inline: 20px;
  max-width: $container-width;
  margin: 0 auto;
  width: 100%;

  @media (max-width:1440px) {}

  @media (max-width:1024px) {}
}

.logo-wrap {
  display: flex;
}

.header {
  width: 100%;
  display: grid;

  padding-top: 50px;

  @media (max-width:850px) {
    display: grid;
    grid-template-areas:
      "top"
      "mid"
      "bot";
  }

  @media (max-width:560px) {
    padding: 0;
  }

  .header-left {
    position: absolute;
    justify-content: space-between;

    &__slash img {
      margin-bottom: 13px;
    }

    &__burger__div {


      &__svg {
        display: none;

        &:hover {
          cursor: pointer;
        }

        @media (max-width:560px) {
          display: flex;
        }
      }
    }
  }

  &-left_wrap {
    @media (max-width:850px) {
      display: grid;
      grid-area: mid;

      .header-left {
        position: static;
        display: flex;
        gap: 5px;



        @media (max-width:850px) {
          margin-bottom: 30px;
        }

        @media (max-width:560px) {

          margin-bottom: 0;
        }
      }

    }

    .header-left__page-name {
      @include mixin.page-name;

      @media(max-width:560px) {
        font-size: 20px;
      }
    }


    &__logo {
      max-width: 130px;
      max-height: 60px;
    }


  }

  .header-right {
    @media (max-width:850px) {
      display: flex;
      flex-direction: column;
    }

    .circle {
      @include mixin.circle;
    }

    &__top {

      @media (max-width:850px) {
        margin-bottom: 30px;
        align-items: center;
      }

      @media (max-width:560px) {
        margin-bottom: 15px;
        width: 98vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        padding: 13px 15px;
      }

      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;

      &__languages {
        gap: 5px;
        display: flex;

        &__radio {

          input {
            display: none;
          }

          input:checked+.header-right__top__languages__radio__item {
            background-color: #F0145A;
            color: white;
            border-radius: 8px;
          }

          &__item {

            @include mixin.header-right-top;
            padding: 5px 7px;
            font-size: 13px;

            &:not(.header-right__top__languages__radio__item-active):hover {
              cursor: pointer;
              background-color: #e3e3e3;
              border-radius: 8px;
            }
          }
        }
      }

      &__address {
        &__link {
          @include mixin.header-right-top;
          font-weight: 400;

          &:hover {
            color: $active-hover-color;
          }
        }
      }

      &__number {
        &__link {
          @include mixin.header-right-top;

          &:hover {
            color: $active-hover-color;
          }
        }
      }

      &__facebook {
        &__link {

          svg path {
            transition: all 0.2s linear;
          }

          &:hover svg path {
            fill: $accent-color;
          }

        }
      }

      @media (max-width:850px) {
        justify-content: start;
      }

      @media (max-width:560px) {
        background-color: #F5F5FA;
      }
    }


    &__links {

      display: flex;
      gap: 15px;
      margin-top: 16px;
      justify-content: end;


      .close-icon {
        position: absolute;
        display: none;
        top: 65px;
        right: 40px;
        width: 20px;
        height: 20px;

        &:hover {
          cursor: pointer;
        }

        @media (max-width:560px) {
          display: block;
        }
      }

      &__item {
        font-weight: 700;
        font-style: bold;
        transition: all 0.3s linear;

        @media (max-width:560px) {
          font-size: 32PX;

        }

        &-active {
          font-weight: 700;
          font-style: bold;
          color: $accent-color;

          &::after {
            display: flex;
            content: '';
            width: 100%;
            height: 2px;
            background-color: $accent-color;
            margin-top: 5px;
          }
        }
      }

      @media (max-width:850px) {
        justify-content: start;
      }

      @media (max-width:560px) {
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        background-color: #e3e3ff;
        margin: 0;
        z-index: 1;
        align-items: center;
        justify-content: center;
        gap: 60px;
      }
    }


  }

  @media (max-width:560px) {

    .header-right__top {
      justify-content: space-between;
    }

    .header-right__top>*:not(.header-right__top__languages, .header-right__top__number) {
      display: none;


    }

  }
}

.form__section {
  @media (max-width:850px) {
    flex-direction: column;
  }

  margin-top: 60px;
  display: flex;
  gap: 60px;
  padding-bottom: 60px;

  &__left {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 100%;
    position: relative;

    @media (max-width:850px) {
      max-width: 100%;
    }


    &__our-page {
      display: flex;
      width: max-content;

      &-svg {

        svg {
          height: 38px;
          width: 38px;

          path {
            transition: all 0.3s linear;
          }
        }

        &:hover svg path,
        &-text {
          fill: $accent-color;

        }

        .form__section__left__our-page-text {
          color: $active-regular-color;
          font-family: $ff;
          position: absolute;
          top: 244px;
          left: 50px;
          transition: all 0.3s linear;
        }

        &:hover .form__section__left__our-page-text {
          color: $accent-color;

        }
      }

      &-text {
        font-family: $ff;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }

    &__address {
      font-size: 21px;

      &::after {
        margin-top: 30px;
        display: flex;
        content: '';
        width: 100%;
        height: 4px;
        background-color: $separator-gray-color;
        margin-bottom: 30px;
      }
    }

    &__phone {
      font-size: 21px;
      margin-bottom: 15px;
    }

    &__mail {
      a {
        font-size: 21px;
      }

      &::after {
        margin-top: 30px;
        display: flex;
        content: '';
        width: 100%;
        height: 4px;
        background-color: $separator-gray-color;
        margin-bottom: 30px;
      }

      span {
        width: max-content;
      }

    }
  }

  &__right {
    max-width: 50%;
    width: 100%;

    @media (max-width:850px) {
      max-width: 100%;
      display: flex;
    }

    &__form {


      background-color: $bg-gray-color;
      max-width: 650px;
      padding: 30px;

      @media (max-width:850px) {
        max-width: 100%;
        width: 100%;
        margin-inline: auto;
      }

      input:focus {
        outline-color: $active-regular-color;
      }

      input:user-invalid {
        outline-color: #FF0000;
      }

      &__message {
        border: none;
        border-radius: 8px;
        padding-inline: 15px;
        min-height: 130px;

      }

      textarea {
        padding-top: 20px;
        resize: none;

        &::placeholder {
          font-family: $ff;
          font-weight: 400;
          font-size: 14px;
          line-height: 26px;
          color: $text-gray-color;
        }
      }

      textarea:focus {
        outline-color: $active-regular-color;
      }

      &__message::placeholder {
        position: absolute;
        top: 15px;
        left: 15px;
      }

      input:not(.form__section__right__form__message) {
        border: none;
        border-radius: 8px;
        min-height: 56px;
        padding-inline: 15px;
      }

      input::placeholder {
        color: $text-gray-color;

      }


      &__title {
        font-family: $ff;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 30px;
      }

      &__first-group {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 30px;
      }



      &__second-group {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 30px;
      }

      &__second-group-title {
        margin-bottom: 15px;
      }

      &__second-group-title {
        color: $text-gray-color;
        font-family: $ff;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      &__submit {
        width: 100%;
        background-color: $active-regular-color;
        font-family: $ff;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: white;
        box-shadow: 0px 0px 20px 0px #24A3FF80;
        transition: all 0.3s linear;

        &:hover {
          cursor: pointer;
          background-color: $active-hover-color;
        }
      }
    }
  }
}

.footer {
  background-color: $bg-gray-color;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-inline: 80px;
  font-family: $ff;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width:1780px) {
    padding-inline: 0px;
  }


  .container {
    @media(max-width:850px) {
      padding-inline: 0;
    }
  }

  @media (max-width:590px) {
    padding-inline: 40px;
  }

  &__right {
    &__sign {
      font-weight: 400;
      font-size: 16px;
      text-align: right;
      color: $text-gray-color
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;

    &__left {

      display: flex;
      flex-direction: column;
      gap: 20px;


      &__top {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        &__address {
          color: $main-color;
          font-weight: 400;
          font-size: 16px;

          &__link {
            font-weight: 700;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 1px;
            text-transform: uppercase;
          }

        }

        @media (max-width:560px) {
          flex-direction: column;
        }
      }

      &__bottom {

        display: flex;
        align-items: center;
        gap: 10px;

        &__number {
          font-weight: 700;
          font-style: Bold;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: right;
        }

        &__email {
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
        }

        &__facebook {
          &__link {
            svg {
              height: 38px;
              width: 38px;

              path {
                transition: all 0.2s linear;
              }
            }

            &:hover svg {
              path {
                fill: $accent-color;
              }
            }

          }
        }

        @media (max-width:560px) {
          flex-direction: column;
        }
      }


    }



    .qwe {
      @include mixin.circle;
      background-color: $text-gray-color;
      display: inline-block;
      margin-inline: 0px;

      @media (max-width:560px) {
        display: none;
      }
    }

    @media (max-width:850px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    @media (max-width:590px) {
      padding-inline: 40px;
    }

    @media(max-width:560px) {
      padding: 0px;
    }
  }
}

// ----------------------TEAM----------------------  

.team__section {
  .container {
    padding-inline: 20px;
  }

  box-sizing: border-box;

  &__wrap {
    &__title {
      margin-top: 60px;
      margin-bottom: 60px;

      @media (max-width:560px) {
        margin-top: 0px;
      }
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(3, minmax(300px, 1fr));
      align-items: start;
      gap: 3.75rem;
      justify-content: center;
      width: 100%;
      margin-bottom: 60px;

      @media (max-width: 1200px) {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      &__card {


        &__link {}

        width: 100%;
        max-width: 100%;
        overflow: hidden;
        transition: all 0.3s linear;
        position: relative;

        &:hover .team__section__wrap__cards__card__bot__text__name {
          color: $accent-color;
        }

        &:hover {
          transform: scale(1.01);
        }

        &:hover .team__section__wrap__cards__card__bot__sign__svg path {
          stroke: $accent-color;
          background-color: $bg-alt-gray-color;
          padding: 25px;
          border-radius: 50%;
        }

        &:hover .team__section__wrap__cards__card__bot__sign__svg {
          background-color: $bg-alt-gray-color;

          border-radius: 50%;
        }

        &__img {
          display: block;
          width: 100%;
          aspect-ratio: 4 / 4;
          object-fit: cover;
          margin-bottom: 15px;
          max-width: 100%;
          border-radius: 12px;
        }



        &__bot {
          display: flex;
          justify-content: space-between;

          &__text {
            display: flex;
            flex-direction: column;
            gap: 5px;

            &__name {
              transition: all 0.3s linear;
            }

            &__role {
              font-family: $ff;
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
              color: $text-gray-color;
            }
          }

          &__sign {
            &__svg {
              min-height: 42px;
              min-width: 42px;
              padding: 10px 12px;
              border-radius: 50%;
              display: flex;
              align-self: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }

  .footer {
    padding-inline: 0px;

    .container.footer-container {

      padding-inline: 0px;

    }
  }
}

// ----------------------employee----------------------  

.employee__section {
  height: 100%;



  .container-employee {
    margin-bottom: 2rem;
    max-width: $container-short-width;
    margin: 0 auto;
    width: 100%;
    padding-inline: 2rem;

    @media (max-width:1440px) {
      max-width: 1080px;

    }

    @media (max-width:1024px) {
      max-width: 904px;
    }
  }

  &__wraper {
    display: grid;
    width: 100%;
    gap: 60px;
    margin-top: 63px;
    margin-bottom: 2rem;


    &__profile {

      display: grid;
      width: 100%;
      grid-template-areas:
        "img name"
        "img text"
        "img text"
        "img text";
      column-gap: 60px;

      @media(max-width:768px) {
        grid-template-areas:

          "img name name"
          "img name name"
          "text text text"
          "text text text";
        column-gap: 0px;
      }

      @media(max-width:560px) {
        grid-template-areas:
          "img"
          "name"
          "text";
        place-items: center;
      }

      &__upper {
        display: grid;
        grid-area: name;

        .qwe {
          @include mixin.circle;
          display: inline-block;

          @media (max-width:1030px) {
            display: none;
          }
        }

        &__description {

          margin: auto 0;

          &__name {
            margin-bottom: 15px;
          }

          &__wrap {
            margin-bottom: 30px;

            .employee__section__wraper__profile__upper_description__wrap__role {
              color: $text-gray-color;
              font-family: $ff;
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;

              @media (max-width:1040px) {
                display: flex;
                flex-direction: column;
                gap: 15px;

              }
            }


          }
        }
      }

      &__bot {
        display: grid;
        justify-content: end;
        grid-area: text;

        &::before {
          content: '';
          width: 100%;
          height: 4px;
          background-color: $separator-gray-color;
          margin-bottom: 30px;
        }

        p {
          font-family: $ff;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
        }

        p:not(:last-child) {
          margin-bottom: 30px;

        }

        h3 {
          margin-bottom: 15px;
          font-family: $ff;
          font-weight: 700;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }

      &__img {
        width: 400px;
        aspect-ratio: 4 / 5;
        object-fit: cover;
        max-height: 500px;
        border-radius: 12px;
        grid-area: img;

        @media (max-width:1040px) {
          width: 300px;
        }

        @media (max-width:768px) {
          margin-bottom: 30px;
        }
      }
    }




  }
}

// ----------------------publication----------------------  
.publication__main {
  background-color: $bg-gray-color;

  margin-top: 60px;
}

.publication__section {
  height: 100%;

  .publication__section__wraper {
    display: flex;
    align-items: center;

    flex-direction: column;

    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: $separator-gray-color;
      margin-bottom: 10px;
    }

    &__slide {
      display: inline-flex;
      box-sizing: border-box;
      background-color: $separator-gray-color;
      width: max-content;
      padding: 2px;
      border-radius: 12px;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 30px;



      &__switch {
        display: flex;
        gap: 2px;

        &__text {
          padding: 10px 34px;

          border-radius: 10px;
          font-family: $ff;
          transition: all 0.3s linear;

          &__bg {
            font-family: $ff;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            text-align: center;
            color: $main-color;

          }
        }

        input[type="radio"] {
          display: none;


          &:checked+.publication__section__wraper__slide__switch__text {
            background-color: white;
          }


        }
      }
    }

    &__cards {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(3, minmax(250px, 1fr));
      height: auto;

      @media (max-width: 850px) {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
      }

      @media (max-width: 560px) {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
      }

      &__card {
        max-width: 513px;
        display: flex;
        flex-direction: column;
        transition: all 0.3s linear;
        flex: 1;
        height: 100%;
        align-items: stretch;
        background-color: #fff;


        &:hover {
          transform: scale(1.01);
          cursor: pointer;
        }

        h4 {
          transition: all 0.3s linear;
        }

        &:hover h4 {
          color: $accent-color;
        }

        &__wrap {
          display: flex;
          flex-direction: column;
          background-color: #fff;
          padding: 30px;
          margin-bottom: auto;
        }


        &__title {
          font-weight: 700;
          color: $active-regular-color;
          margin-bottom: 15px;
        }

        &__data {
          &::after {
            display: inline-block;
            content: "";
            width: 100%;
            height: 4px;
            background-color: #E6E6F0;
            margin-bottom: 15px;
          }

          font-family: $ff;
          font-weight: 700;
          font-size: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;

          color: $text-gray-color;
        }

        &__description {
          margin-bottom: auto;


        }

        &__img {
          object-fit: cover;
          max-height: 200px;

          img {
            max-height: 200px;
          }
        }
      }
    }

    &__btn {
      width: 100%;
      background-color: #24A3FF;
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      font-size: 16px;
      text-align: center;
      color: white;
      box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5019607843);
      transition: all 0.3s linear;
      max-width: 208px;
      border: none;
      border-radius: 8px;
      min-height: 56px;
      padding-inline: 15px;
      margin-bottom: 60px;
      margin-top: 2rem;

      &:hover {
        background-color: $active-hover-color;
        cursor: pointer;
        box-shadow: 0px 0px 20px 0px $active-hover-color;
      }
    }
  }
}