:root {
  --basic-space: 3.75rem;
}

@media (max-width: 552px) {
  :root {
    --basic-space: 1.875rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #24A3FF;
}
a:hover {
  color: #F0145A;
  text-decoration: none;
}
a {
  transition: all 0.3s linear;
}

p {
  font-family: Montserrat, sans-serif;
  color: #323264;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

h1 {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  font-family: Montserrat, sans-serif;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: Montserrat, sans-serif;
  color: #323264;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Montserrat, sans-serif;
  color: #323264;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: Montserrat, sans-serif;
  color: #323264;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

ol {
  font-family: Montserrat, sans-serif;
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
ol li::marker {
  color: #F0145A;
}

ul {
  font-family: Montserrat, sans-serif;
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
ul li::marker {
  color: #F0145A;
}

.container-short {
  max-width: 1360px;
  margin: 0 auto;
  width: 100%;
}
.container {
  padding-inline: 20px;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}
.logo-wrap {
  display: flex;
}

.header {
  width: 100%;
  display: grid;
  padding-top: 50px;
}
@media (max-width: 850px) {
  .header {
    display: grid;
    grid-template-areas: "top" "mid" "bot";
  }
}
@media (max-width: 560px) {
  .header {
    padding: 0;
  }
}
.header .header-left {
  position: absolute;
  justify-content: space-between;
}
.header .header-left__slash img {
  margin-bottom: 13px;
}
.header .header-left__burger__div__svg {
  display: none;
}
.header .header-left__burger__div__svg:hover {
  cursor: pointer;
}
@media (max-width: 560px) {
  .header .header-left__burger__div__svg {
    display: flex;
  }
}
@media (max-width: 850px) {
  .header-left_wrap {
    display: grid;
    grid-area: mid;
  }
  .header-left_wrap .header-left {
    position: static;
    display: flex;
    gap: 5px;
  }
}
@media (max-width: 850px) and (max-width: 850px) {
  .header-left_wrap .header-left {
    margin-bottom: 30px;
  }
}
@media (max-width: 850px) and (max-width: 560px) {
  .header-left_wrap .header-left {
    margin-bottom: 0;
  }
}
.header-left_wrap .header-left__page-name {
  color: #323264;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  align-self: center;
  margin-bottom: 20px;
}
@media (max-width: 560px) {
  .header-left_wrap .header-left__page-name {
    font-size: 20px;
  }
}
.header-left_wrap__logo {
  max-width: 130px;
  max-height: 60px;
}
@media (max-width: 850px) {
  .header .header-right {
    display: flex;
    flex-direction: column;
  }
}
.header .header-right .circle {
  width: 6px;
  height: 6px;
  opacity: 1;
  border-radius: 50%;
  background-color: #E6E6F0;
  align-self: center;
  margin-inline: 6px;
}
@media (max-width: 850px) {
  .header .header-right__top {
    margin-bottom: 30px;
    align-items: center;
  }
}
@media (max-width: 560px) {
  .header .header-right__top {
    margin-bottom: 15px;
    width: 98vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 13px 15px;
  }
}
.header .header-right__top {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.header .header-right__top__languages {
  gap: 5px;
  display: flex;
}
.header .header-right__top__languages__radio input {
  display: none;
}
.header .header-right__top__languages__radio input:checked + .header-right__top__languages__radio__item {
  background-color: #F0145A;
  color: white;
  border-radius: 8px;
}
.header .header-right__top__languages__radio__item {
  font-family: Montserrat, sans-serif;
  color: #B3B3BA;
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: center;
  transition: all 0.3s linear;
  padding: 5px 7px;
  font-size: 13px;
}
.header .header-right__top__languages__radio__item:not(.header-right__top__languages__radio__item-active):hover {
  cursor: pointer;
  background-color: #e3e3e3;
  border-radius: 8px;
}
.header .header-right__top__address__link {
  font-family: Montserrat, sans-serif;
  color: #B3B3BA;
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: center;
  transition: all 0.3s linear;
  font-weight: 400;
}
.header .header-right__top__address__link:hover {
  color: #0085FF;
}
.header .header-right__top__number__link {
  font-family: Montserrat, sans-serif;
  color: #B3B3BA;
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: center;
  transition: all 0.3s linear;
}
.header .header-right__top__number__link:hover {
  color: #0085FF;
}
.header .header-right__top__facebook__link svg path {
  transition: all 0.2s linear;
}
.header .header-right__top__facebook__link:hover svg path {
  fill: #F0145A;
}
@media (max-width: 850px) {
  .header .header-right__top {
    justify-content: start;
  }
}
@media (max-width: 560px) {
  .header .header-right__top {
    background-color: #F5F5FA;
  }
}
.header .header-right__links {
  display: flex;
  gap: 15px;
  margin-top: 16px;
  justify-content: end;
}
.header .header-right__links .close-icon {
  position: absolute;
  display: none;
  top: 65px;
  right: 40px;
  width: 20px;
  height: 20px;
}
.header .header-right__links .close-icon:hover {
  cursor: pointer;
}
@media (max-width: 560px) {
  .header .header-right__links .close-icon {
    display: block;
  }
}
.header .header-right__links__item {
  font-weight: 700;
  font-style: bold;
  transition: all 0.3s linear;
}
@media (max-width: 560px) {
  .header .header-right__links__item {
    font-size: 32PX;
  }
}
.header .header-right__links__item-active {
  font-weight: 700;
  font-style: bold;
  color: #F0145A;
}
.header .header-right__links__item-active::after {
  display: flex;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #F0145A;
  margin-top: 5px;
}
@media (max-width: 850px) {
  .header .header-right__links {
    justify-content: start;
  }
}
@media (max-width: 560px) {
  .header .header-right__links {
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #e3e3ff;
    margin: 0;
    z-index: 5;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
}
@media (max-width: 560px) {
  .header .header-right__top {
    justify-content: space-between;
  }
  .header .header-right__top > *:not(.header-right__top__languages, .header-right__top__number) {
    display: none;
  }
}

@media (max-width: 850px) {
  .form__section {
    flex-direction: column;
  }
}
.form__section {
  margin-top: 60px;
  display: flex;
  gap: 60px;
  padding-bottom: 60px;
}
.form__section__left {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  width: 100%;
  position: relative;
}
@media (max-width: 850px) {
  .form__section__left {
    max-width: 100%;
  }
}
.form__section__left__our-page {
  display: flex;
  width: -moz-max-content;
  width: max-content;
}
.form__section__left__our-page-svg svg {
  height: 38px;
  width: 38px;
}
.form__section__left__our-page-svg svg path {
  transition: all 0.3s linear;
}
.form__section__left__our-page-svg:hover svg path, .form__section__left__our-page-svg-text {
  fill: #F0145A;
}
.form__section__left__our-page-svg .form__section__left__our-page-text {
  color: #24A3FF;
  font-family: Montserrat, sans-serif;
  position: absolute;
  top: 244px;
  left: 50px;
  transition: all 0.3s linear;
}
.form__section__left__our-page-svg:hover .form__section__left__our-page-text {
  color: #F0145A;
}
.form__section__left__our-page-text {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.form__section__left__address {
  font-size: 21px;
}
.form__section__left__address::after {
  margin-top: 30px;
  display: flex;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
  margin-bottom: 30px;
}
.form__section__left__phone {
  font-size: 21px;
  margin-bottom: 15px;
}
.form__section__left__mail a {
  font-size: 21px;
}
.form__section__left__mail::after {
  margin-top: 30px;
  display: flex;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
  margin-bottom: 30px;
}
.form__section__left__mail span {
  width: -moz-max-content;
  width: max-content;
}
.form__section__right {
  max-width: 50%;
  width: 100%;
}
@media (max-width: 850px) {
  .form__section__right {
    max-width: 100%;
    display: flex;
  }
}
.form__section__right__form {
  background-color: #F5F5FA;
  max-width: 650px;
  padding: 30px;
}
@media (max-width: 850px) {
  .form__section__right__form {
    max-width: 100%;
    width: 100%;
    margin-inline: auto;
  }
}
.form__section__right__form input:focus {
  outline-color: #24A3FF;
}
.form__section__right__form input:user-invalid {
  outline-color: #FF0000;
}
.form__section__right__form__message {
  border: none;
  border-radius: 8px;
  padding-inline: 15px;
  min-height: 130px;
}
.form__section__right__form textarea {
  padding-top: 20px;
  resize: none;
}
.form__section__right__form textarea::-moz-placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #B3B3BA;
}
.form__section__right__form textarea::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #B3B3BA;
}
.form__section__right__form textarea:focus {
  outline-color: #24A3FF;
}
.form__section__right__form__message::-moz-placeholder {
  position: absolute;
  top: 15px;
  left: 15px;
}
.form__section__right__form__message::placeholder {
  position: absolute;
  top: 15px;
  left: 15px;
}
.form__section__right__form input:not(.form__section__right__form__message) {
  border: none;
  border-radius: 8px;
  min-height: 56px;
  padding-inline: 15px;
}
.form__section__right__form input::-moz-placeholder {
  color: #B3B3BA;
}
.form__section__right__form input::placeholder {
  color: #B3B3BA;
}
.form__section__right__form__title {
  font-family: Montserrat, sans-serif;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
}
.form__section__right__form__first-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}
.form__section__right__form__second-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}
.form__section__right__form__second-group-title {
  margin-bottom: 15px;
}
.form__section__right__form__second-group-title {
  color: #B3B3BA;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.form__section__right__form__submit {
  width: 100%;
  background-color: #24A3FF;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5019607843);
  transition: all 0.3s linear;
}
.form__section__right__form__submit:hover {
  cursor: pointer;
  background-color: #0085FF;
}

.footer {
  background-color: #F5F5FA;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-inline: 80px;
  font-family: Montserrat, sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1780px) {
  .footer {
    padding-inline: 0px;
  }
}
@media (max-width: 850px) {
  .footer .container {
    padding-inline: 0;
  }
}
@media (max-width: 590px) {
  .footer {
    padding-inline: 40px;
  }
}
.footer__right__sign {
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  color: #B3B3BA;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
}
.footer__wrap__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__wrap__left__top {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.footer__wrap__left__top__address {
  color: #323264;
  font-weight: 400;
  font-size: 16px;
}
.footer__wrap__left__top__address__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 560px) {
  .footer__wrap__left__top {
    flex-direction: column;
  }
}
.footer__wrap__left__bottom {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__wrap__left__bottom__number {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}
.footer__wrap__left__bottom__email {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}
.footer__wrap__left__bottom__facebook__link svg {
  height: 38px;
  width: 38px;
}
.footer__wrap__left__bottom__facebook__link svg path {
  transition: all 0.2s linear;
}
.footer__wrap__left__bottom__facebook__link:hover svg path {
  fill: #F0145A;
}
@media (max-width: 560px) {
  .footer__wrap__left__bottom {
    flex-direction: column;
  }
}
.footer__wrap .qwe {
  width: 6px;
  height: 6px;
  opacity: 1;
  border-radius: 50%;
  background-color: #E6E6F0;
  align-self: center;
  margin-inline: 6px;
  background-color: #B3B3BA;
  display: inline-block;
  margin-inline: 0px;
}
@media (max-width: 560px) {
  .footer__wrap .qwe {
    display: none;
  }
}
@media (max-width: 850px) {
  .footer__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 590px) {
  .footer__wrap {
    padding-inline: 40px;
  }
}
@media (max-width: 560px) {
  .footer__wrap {
    padding: 0px;
  }
}

.team__section .container {
  padding-inline: 20px;
}
.team__section {
  box-sizing: border-box;
}
.team__section__wrap__title {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media (max-width: 560px) {
  .team__section__wrap__title {
    margin-top: 0px;
  }
}
.team__section__wrap__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  align-items: start;
  gap: 3.75rem;
  justify-content: center;
  width: 100%;
  margin-bottom: 60px;
}
@media (max-width: 1200px) {
  .team__section__wrap__cards {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}
@media (max-width: 768px) {
  .team__section__wrap__cards {
    grid-template-columns: 1fr;
  }
}
.team__section__wrap__cards__card {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  transition: all 0.3s linear;
  position: relative;
}
.team__section__wrap__cards__card:hover .team__section__wrap__cards__card__bot__text__name {
  color: #F0145A;
}
.team__section__wrap__cards__card:hover {
  transform: scale(1.01);
}
.team__section__wrap__cards__card:hover .team__section__wrap__cards__card__bot__sign__svg path {
  stroke: #F0145A;
  background-color: #EDEDF7;
  padding: 25px;
  border-radius: 50%;
}
.team__section__wrap__cards__card:hover .team__section__wrap__cards__card__bot__sign__svg {
  background-color: #EDEDF7;
  border-radius: 50%;
}
.team__section__wrap__cards__card__img {
  display: block;
  width: 100%;
  aspect-ratio: 4/4;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
  max-width: 100%;
  border-radius: 12px;
}
.team__section__wrap__cards__card__bot {
  display: flex;
  justify-content: space-between;
}
.team__section__wrap__cards__card__bot__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.team__section__wrap__cards__card__bot__text__name {
  transition: all 0.3s linear;
}
.team__section__wrap__cards__card__bot__text__role {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}
.team__section__wrap__cards__card__bot__sign__svg {
  min-height: 42px;
  min-width: 42px;
  padding: 10px 12px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  justify-content: center;
}
.team__section .footer {
  padding-inline: 0px;
}
.team__section .footer .container.footer-container {
  padding-inline: 0px;
}

.employee__section {
  height: 100%;
}
.employee__section .container-employee {
  margin-bottom: 2rem;
  max-width: 1360px;
  margin: 0 auto;
  width: 100%;
  padding-inline: 2rem;
}
@media (max-width: 1440px) {
  .employee__section .container-employee {
    max-width: 1080px;
  }
}
@media (max-width: 1024px) {
  .employee__section .container-employee {
    max-width: 904px;
  }
}
.employee__section__wraper {
  display: grid;
  width: 100%;
  gap: 60px;
  margin-top: 63px;
  margin-bottom: 2rem;
}
.employee__section__wraper__profile {
  display: grid;
  width: 100%;
  grid-template-areas: "img name" "img text" "img text" "img text";
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 768px) {
  .employee__section__wraper__profile {
    grid-template-areas: "img name name" "img name name" "text text text" "text text text";
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
}
@media (max-width: 560px) {
  .employee__section__wraper__profile {
    grid-template-areas: "img" "name" "text";
    place-items: center;
  }
}
.employee__section__wraper__profile__upper {
  display: grid;
  grid-area: name;
}
.employee__section__wraper__profile__upper .qwe {
  width: 6px;
  height: 6px;
  opacity: 1;
  border-radius: 50%;
  background-color: #E6E6F0;
  align-self: center;
  margin-inline: 6px;
  display: inline-block;
}
@media (max-width: 1030px) {
  .employee__section__wraper__profile__upper .qwe {
    display: none;
  }
}
.employee__section__wraper__profile__upper__description {
  margin: auto 0;
}
.employee__section__wraper__profile__upper__description__name {
  margin-bottom: 15px;
}
.employee__section__wraper__profile__upper__description__wrap {
  margin-bottom: 30px;
}
.employee__section__wraper__profile__upper__description__wrap .employee__section__wraper__profile__upper_description__wrap__role {
  color: #B3B3BA;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
@media (max-width: 1040px) {
  .employee__section__wraper__profile__upper__description__wrap .employee__section__wraper__profile__upper_description__wrap__role {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
.employee__section__wraper__profile__bot {
  display: grid;
  justify-content: end;
  grid-area: text;
}
.employee__section__wraper__profile__bot::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
  margin-bottom: 30px;
}
.employee__section__wraper__profile__bot p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.employee__section__wraper__profile__bot p:not(:last-child) {
  margin-bottom: 30px;
}
.employee__section__wraper__profile__bot h3 {
  margin-bottom: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.employee__section__wraper__profile__img {
  width: 400px;
  aspect-ratio: 4/5;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 500px;
  border-radius: 12px;
  grid-area: img;
}
@media (max-width: 1040px) {
  .employee__section__wraper__profile__img {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .employee__section__wraper__profile__img {
    margin-bottom: 30px;
  }
}

.publication__main {
  background-color: #F5F5FA;
  margin-top: 60px;
}

.publication__section {
  height: 100%;
}
.publication__section .publication__section__wraper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.publication__section .publication__section__wraper::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #E6E6F0;
  margin-bottom: 10px;
}
.publication__section .publication__section__wraper__slide {
  display: inline-flex;
  box-sizing: border-box;
  background-color: #E6E6F0;
  width: -moz-max-content;
  width: max-content;
  padding: 2px;
  border-radius: 12px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.publication__section .publication__section__wraper__slide__switch {
  display: flex;
  gap: 2px;
}
.publication__section .publication__section__wraper__slide__switch__text {
  padding: 10px 34px;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
  transition: all 0.3s linear;
}
.publication__section .publication__section__wraper__slide__switch__text__bg {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #323264;
}
.publication__section .publication__section__wraper__slide__switch input[type=radio] {
  display: none;
}
.publication__section .publication__section__wraper__slide__switch input[type=radio]:checked + .publication__section__wraper__slide__switch__text {
  background-color: white;
}
.publication__section .publication__section__wraper__cards {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, minmax(230px, 1fr));
  height: auto;
  visibility: 0;
  opacity: 0;
  transition: all 0.3s linear;
  position: relative;
}
@media (max-width: 850px) {
  .publication__section .publication__section__wraper__cards {
    grid-template-columns: repeat(2, minmax(230px, 1fr));
  }
}
@media (max-width: 560px) {
  .publication__section .publication__section__wraper__cards {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}
.publication__section .publication__section__wraper__cards__card {
  max-width: 513px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s linear;
  flex: 1;
  height: 100%;
  align-items: stretch;
  background-color: #fff;
}
.publication__section .publication__section__wraper__cards__card:hover {
  transform: scale(1.01);
  cursor: pointer;
}
.publication__section .publication__section__wraper__cards__card h4 {
  transition: all 0.3s linear;
}
.publication__section .publication__section__wraper__cards__card:hover h4 {
  color: #F0145A;
}
.publication__section .publication__section__wraper__cards__card__wrap {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  margin-bottom: auto;
}
.publication__section .publication__section__wraper__cards__card__title {
  font-weight: 700;
  color: #24A3FF;
  margin-bottom: 15px;
}
.publication__section .publication__section__wraper__cards__card__data::after {
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
  margin-bottom: 15px;
}
.publication__section .publication__section__wraper__cards__card__data {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.publication__section .publication__section__wraper__cards__card__description {
  margin-bottom: auto;
}
.publication__section .publication__section__wraper__cards__card__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 200px;
}
.publication__section .publication__section__wraper__cards__card__img img {
  max-height: 200px;
}
.publication__section .publication__section__wraper__btn {
  width: 100%;
  background-color: #24A3FF;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5019607843);
  transition: all 0.3s linear;
  max-width: 208px;
  border: none;
  border-radius: 8px;
  min-height: 56px;
  padding-inline: 15px;
  margin-bottom: 60px;
  margin-top: 2rem;
}
.publication__section .publication__section__wraper__btn:hover {
  background-color: #0085FF;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px #0085FF;
}
.publication__section .cards2 {
  visibility: 0;
  opacity: 0;
  transition: all 0.3s linear;
  position: absolute;
  top: 285px;
  padding-inline: 20px;
  max-width: 1600px;
  z-index: -19;
  max-height: 100%;
}
@media (max-width: 850px) {
  .publication__section .cards2 {
    top: 410px;
  }
}
@media (max-width: 560px) {
  .publication__section .cards2 {
    top: 285px;
  }
}
.publication__section .cards1,
.publication__section .cards2 {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none;
}
.publication__section .opacity {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  z-index: 2;
}

#option1:checked ~ #cards {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */